@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="about-container container">
      <div class="left-section">
        <img
          src="images/about_company.png"
          alt="Image"
        />
        <div class="image-text">
          <h3 class="samantha-h3">Samantha Brown, Founder</h3>
          <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit."</p>
        </div>
      </div>
      <div class="right-section">
        <p class="about-headline">About Company</p>
        <h2 class="about-h2">
          We Are Business Consulting & Credit Repair Experts
        </h2>
        <p class="text-1">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore
          quidem molestias quod molestiae error omnis quam, assumenda, impedit
          ab in exercitationem ut?
        </p>
        <p class="text-2">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore
          quidem molestias quam, assumenda, impedit ab in exercitationem ut?
        </p>
        <button class="learn-more-button"><a href="#">Learn More</a></button>
        <a href="video.html"
          ><i class="bi bi-play-circle-fill"></i>Intro Video</a
        >
      </div>
    </div>