@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="connect-section">
                <h2 class="news-articles-h1">News & Articles</h2>
            </div>
        </div>
    </header>
    <div class="news-articles-container container">
        <div class="news-content">
            <h2 class="news-h2">How To Use Digitalization In The Classroom</h2>
            <div class="news-text">
                <p>Mar 25, 2023</p>
                <p>Business</p>
                <p>Kimberly Hansen</p>
            </div>
        </div>
        <div class="content-container">
            <div class="column-content">
                <div class="news-left-column">
                    <img src="images/news detail page/how_to_use_digitalization.png" alt="Kimberly" />
                    <div class="news-p-text">
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta
                            atque fugiat expedita amet eaque quis nemo quisquam! Explicabo,
                            commodi deleniti delectus sint quibusdam debitis. Necessitatibus
                            rem officia neque ea facere perspiciatis impedit corrupti illo
                            dolor molestias, accusamus, facilis
                        </p>
                        <p>
                            eligendi similique, quam aspernatur pariatur excepturi quo
                            quisquam. Qui, ullam earum. Modi incidunt, possimus ea
                            doloremque quaerat ipsa voluptates natus molestias fuga quae
                            repellat soluta, blanditiis ullam laborum officia recusandae
                            culpa earum? Unde, a? Beatae saepe expedita unde dicta sint
                            reiciendis facere dolores ut vero natus soluta in dolorum,
                            officiis nesciunt deserunt quasi tempore, eveniet recusandae
                            magnam sit ipsa! Quidem, excepturi eaque!
                        </p>
                        <p>
                            eligendi similique, quam aspernatur pariatur excepturi quo
                            quisquam. Qui, ullam earum. Modi incidunt, possimus ea
                            doloremque quaerat ipsa voluptates natus molestias fuga quae
                            repellat soluta, blanditiis ullam laborum officia recusandae
                            culpa earum? Unde, a? Beatae saepe expedita unde dicta sint
                            reiciendis facere dolores ut vero natus soluta in dolorum,
                            officiis nesciunt deserunt quasi tempore, eveniet recusandae
                            magnam sit ipsa! Quidem, excepturi eaque!
                        </p>
                        <p>
                            eligendi similique, quam aspernatur pariatur excepturi quo
                            quisquam. Qui, ullam earum. Modi incidunt, possimus ea
                            doloremque quaerat ipsa voluptates natus molestias fuga quae
                            repellat soluta,
                        </p>
                        <p class="italic-text">
                            <i class="bi bi-quote"></i>
                            eligendi similique, quam aspernatur pariatur excepturi quo
                            quisquam. Qui, ullam earum. Modi incidunt, possimus ea
                            doloremque quaerat ipsa voluptates natus molestias fuga quae
                            repellat soluta,
                        </p>
                        <p>
                            eligendi similique, quam aspernatur pariatur excepturi quo
                            quisquam. Qui, ullam earum. Modi incidunt, possimus ea
                            doloremque quaerat ipsa voluptates natus molestias fuga quae
                            repellat soluta,
                        </p>
                        <div class="news-buttons">
                            <button class="Digitalization-button">Digitalization</button>
                            <button class="school-button">School</button>
                            <button class="it-button">IT</button>
                            <button class="work-button">Work</button>
                            <button class="tech-button">Tech</button>
                        </div>
                    </div>
                </div>
                
                 <div class="news-right-column">
                    <div class="news-input-field">
                        <input class="news-search-field" type="search" placeholder="Type To Search" />
                    </div>
                    <div class="news-content-border">
                        <div class="news-card">
                            <div class="articles-card-content">
                                <div class="article-card-text">
                                    <h3 class="news-h3">Recent Posts</h3>
                                    <h4 class="news-h4">
                                        How To Blow Through Capital At An Incredible Rate
                                    </h4>
                                    <p class="blog-posts-text">Jan 14, 2020</p>
                                    <div class="blog-border"></div>
                                </div>
                            </div>
                        </div>
                        <div class="news-card">
                            <div class="articles-card-content">
                                <div class="article-card-text">
                                    <h4 class="news-h4">
                                        Design Studios That Everyone Should Know About
                                    </h4>
                                    <p class="blog-posts-text">Jan 14, 2020</p>
                                    <div class="blog-border"></div>
                                </div>
                            </div>
                        </div>
                        <div class="news-card">
                            <div class="articles-card-content">
                                <div class="article-card-text">
                                    <h4 class="news-h4">
                                        How Did We Get 1M+ Visitors In 30 Days Without Anything
                                    </h4>
                                    <p class="blog-posts-text">Jan 14, 2020</p>
                                    <div class="blog-border"></div>
                                </div>
                            </div>
                        </div>
                        <div class="news-card">
                            <div class="articles-card-content">
                                <div class="article-card-text">
                                    <h4 class="news-h4">
                                        Figma On Figma: How We Built Our Website Design System
                                    </h4>
                                    <p class="blog-posts-text">Jan 14, 2020</p>
                                    <div class="blog-border"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="categories-border">
                        <div class="categories-card">
                            <div class="articles-card-content">
                                <div class="article-card-text">
                                    <h3 class="news-h3">Categories</h3>
                                    <h4 class="news-blog-h4">Technology: 20 Posts</h4>
                                    <h4 class="news-blog-h4">Freelancing: 07 Posts</h4>
                                    <h4 class="news-blog-h4">Writing: 16 Posts</h4>
                                    <h4 class="news-blog-h4">Marketing: 11 Posts</h4>
                                    <h4 class="news-blog-h4">Business: 35 Posts</h4>
                                    <h4 class="news-blog-h4">Education: 14 Posts</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
