@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<div class="features container-fluid">
    <section class="features-section">
      <div class="text-section">
        <p class="features-headline">Features</p>
        <h2 class="features-h2">
          Our accounting is trusted by thousands of companies
        </h2>
        <button class="features-button">
          <a href="learnmore.html">Learn More</a>
        </button>
      </div>
      <div class="columns-section">
        <div class="column">
          <i class="bi bi-box-fill"></i>
          <h3 class="features-h3">Business Advice</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="column">
          <i class="bi bi-box-fill"></i>
          <h3 class="features-h3">Business Advice</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="column">
          <i class="bi bi-box-fill"></i>
          <h3 class="features-h3">Business Advice</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="column">
          <i class="bi bi-box-fill"></i>
          <h3 class="features-h3">Business Advice</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </section>
  </div>