@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<footer class="footer-container container-fluid">
      <div class="footer-section container-fluid">
        <div class="container">
          <div class="row align-items-center">
            <div class="col">
              <img class="crito-logo" src="~/images/logos/crito_logo_footer.png" alt="logo" />
              <p class="footer-left-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus provident
                voluptas
                vero quas quos, nam
                suscipit. Modi blanditiis nesciunt beatae.</p>
            </div>
            <div class="col">
              <h3 class="footer-main-headline">Company</h3>
              <p class="sub-headline">About</p>
              <p class="sub-headline">Features</p>
              <p class="sub-headline">Works</p>
              <p class="sub-headline">Career</p>
            </div>
            <div class="col">
              <h3 class="footer-main-headline">Help</h3>
              <p class="sub-headline">Customer Support</p>
              <p class="sub-headline">Delivery Details</p>
              <p class="sub-headline">Terms & Conditions</p>
              <p class="sub-headline">Privacy Policy</p>
            </div>
            <div class="col">
              <h3 class="footer-main-headline">Resources</h3>
              <p class="sub-headline">Free eBooks</p>
              <p class="sub-headline">Development Tutorial</p>
              <p class="sub-headline">How to-Blog</p>
              <p class="sub-headline">Youtube Playlist</p>
            </div>
            <div class="col">
              <h3 class="footer-main-headline">Link</h3>
              <p class="sub-headline">Free eBooks</p>
              <p class="sub-headline">Development</p>
              <p class="sub-headline">How to-Blog</p>
              <p class="sub-headline">Youtube Playlist</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-border"></div>
      <p class="copy">&copy; 2023 Crito - Consulting Company Inc. All rights reserved.</p>
    </footer>