@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="get-news-container container-fluid">
    <div class="get-news-section container">
      <h2 class="get-news-text">Get News Updates By Signup</h2>
      <div class="search-container">
        <input type="text" id="search-input" placeholder="name@domain.com" />
        <button id="search-button">Subscribe</button>
      </div>
    </div>
  </div>
