@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="container">
      <section class="nav-section">
        <img class="crito-logo" src="~/images/logos/crito_logo.png" alt="logo" />
        <nav>
          <div class="first-row">
            <div class="company-info">
              <span><i class="bi bi-telephone"></i>+1 123-456-7890</span>
              <span><i class="bi bi-envelope"></i>crito@info.com</span>
              <span><i class="bi bi-geo-alt"></i>Sveavägen 31, 111 34
                Stockholm</span>
            </div>
            <div class="social-media">
              <a href="https://facebook.com"><i class="bi bi-facebook"></i></a>
              <a href="https://twitter.com"><i class="bi bi-twitter"></i></a>
              <a href="https://instagram.com"><i class="bi bi-instagram"></i></a>
              <a href="https://linkedin.com"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="second-row">
            <div class="navbar-links">
              <a href="~/home">Home</a>
              <a href="~/news">News</a>
              <a href="~/contacts">Contact</a>
            </div>
            <button class="login-button">Login</button>
          </div>
        </nav>
      </section>
    </div>
