@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="home-articles-container container">
    <p class="article-headline">Articles & News</p>
    <div class="article-headline-section">
      <h2 class="article-text">Get Every Single Articles & News</h2>
      <div class="all-reviews-button">
        <button class="transparent-button">
          <a href="#">Browse Articles</a>
        </button>
      </div>
    </div>
    <div class="article-image-container container"></div>
    <div class="article-image-section">
      <div class="article-image-box">
        <img src="images/how_to_use_digitalization.png" alt="Image 1" />
        <p>Business</p>
        <h3 class="article-image-h3">
          How To Use Digitalization In The Classroom
        </h3>
        <p class="article-image-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe et
          placeat vitae.
        </p>
      </div>
      <div class="article-image-box">
        <img src="images/implement_chatgpt.png" alt="Image 2" />
        <p>Business</p>
        <h3 class="article-image-h3">
          How To Implement Chat GPT In Your Projects
        </h3>
        <p class="article-image-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe et
          placeat vitae.
        </p>
      </div>
      <div class="article-image-box">
        <img src="images/the_guide_to_support.png" alt="Image 3" />
        <p>Business</p>
        <h3 class="article-image-h3">
          The Guide To Support Modern CSS Design
        </h3>
        <p class="article-image-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe et
          placeat vitae.
        </p>
      </div>
    </div>
  </div>
