@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using System.Linq;

<div class="home-articles-container container">
    <p class="article-headline">Articles & News</p>
    <div class="article-headline-section">
      <h2 class="article-text">Get Every Single Articles & News</h2>
      <div class="all-reviews-button">
        <button class="transparent-button">
          <a href="#">Browse Articles</a>
        </button>
      </div>
    </div>
    <div class="article-image-container container"></div>
    <div class="article-image-section">
     
      
      
    @{
    	var selection = Umbraco.Content(Guid.Parse("726af942-0118-4d51-bc12-98b300cbd834"))
        .ChildrenOfType("newsItemPage")
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.CreateDate)
        .Take(3);
    }
    
	@foreach (var item in selection)
	
	
	{
	var image = item.Value<IPublishedContent>("newsImage");
	
      <a href="@item.Url()" class="article-image-box">
        <img src="@image?.Url()" alt="Image 1" />
        <p>item.Value("newsCategory")</p>
        <h3 class="article-image-h3">
          @item.Name
        </h3>
        <p class="article-image-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe et
          placeat vitae.
        </p>
      </a>
	}


      
    </div>
  </div>
