@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="our-team-container">
    <div class="our-team-headline-section">
      <p class="our-team-headline">Meet Our Team</p>
      <h2 class="our-team-text">Experience Team Members</h2>
    </div>
    <div class="image-container container"></div>
    <div class="image-section">
      <div class="image-box">
        <img src="images/kristine_palmer.png" alt="Image 1" />
        <h3 class="team-image-headline">Headline 1</h3>
        <p class="team-image-text">Text för bild 1.</p>
      </div>
      <div class="image-box">
        <img src="images/mark_aubri.png" alt="Image 2" />
        <h3 class="team-image-headline">Headline 2</h3>
        <p class="team-image-text">Text för bild 2.</p>
      </div>
      <div class="image-box">
        <img src="images/kimberly_hansen.png" alt="Image 3" />
        <h3 class="team-image-headline">Headline 3</h3>
        <p class="team-image-text">Text för bild 3.</p>
      </div>
      <div class="image-box">
        <img src="images/justin_willoman.png" alt="Image 4" />
        <h3 class="team-image-headline">Headline 4</h3>
        <p class="team-image-text">Text för bild 4.</p>
      </div>
    </div>
    <div class="testimonial container">
      <div class="our-team-headline-section">
        <p class="testimonial-headline">Testimonial</p>
        <h2 class="testimonial-text">What Our Client Says</h2>
      </div>
      <div class="columns-container">
        <div class="column">
          <div class="icon">
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
              class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            <p class="column-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id
              error et hic esse iusto. Esse officia dolor debitis!
            </p>
          </div>
          <div class="circle-image">
            <img src="images/cassandra_warren.png" alt="Circle Image 1" />
            <div class="review-text">
              <h2 class="review-name-h3">review name</h2>
              <p class="title-company">Business Manager, Dorfus</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="icon">
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
              class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            <p class="column-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id
              error et hic esse iusto. Esse officia dolor debitis!
            </p>
          </div>
          <div class="circle-image">
            <img src="images/amanda_tulling.png" alt="Circle Image 1" />
            <div class="review-text">
              <h2 class="review-name-h3">review name</h2>
              <p class="title-company">Business Manager, Dorfus</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="icon">
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
              class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            <p class="column-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id
              error et hic esse iusto. Esse officia dolor debitis!
            </p>
          </div>
          <div class="circle-image">
            <img src="images/jack_douglas.png" alt="Circle Image 1" />
            <div class="review-text">
              <h2 class="review-name-h3">review name</h2>
              <p class="title-company">Business Manager, Dorfus</p>
            </div>
          </div>
        </div>
      </div>
      <div class="all-reviews-button">
        <button class="all-reviews"><a href="#">All Reviews</a></button>
      </div>
    </div>
  </div>
