@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="our-news-container container-fluid">
        <div class="our-articles-section container">
            <h2 class="our-articles-text">Our News & Articles</h2>

            <div class="article-image-section">
                <div class="article-image-box">
                    <img src="~/images/how_to_use_digitalization.png" alt="Image 1" />
                    <p>Business</p>
                    <h3 class="article-image-h3">
                        How To Use Digitalization In The Classroom
                    </h3>
                    <p class="article-image-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe et
                        placeat vitae.
                    </p>
                </div>
                <div class="article-image-box">
                    <img src="~/images/implement_chatgpt.png" alt="Image 2" />
                    <p>Business</p>
                    <h3 class="article-image-h3">
                        How To Implement Chat GPT In Your Projects
                    </h3>
                    <p class="article-image-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe et
                        placeat vitae.
                    </p>
                </div>
                <div class="article-image-box">
                    <img src="~/images/the_guide_to_support.png" alt="Image 3" />
                    <p>Business</p>
                    <h3 class="article-image-h3">
                        The Guide To Support Modern CSS Design
                    </h3>
                    <p class="article-image-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe et
                        placeat vitae.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="our-news-container container-fluid">
        <div class="article-image-section">
            <div class="article-image-box">
                <img src="~/images/why_you_need_five.png" alt="Image 1" />
                <p>Business</p>
                <h3 class="article-image-h3">
                    How To Use Digitalization In The Classroom
                </h3>
                <p class="article-image-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe et
                    placeat vitae.
                </p>
            </div>
            <div class="article-image-box">
                <img src="~/images/get_more_involved_with.png" alt="Image 2" />
                <p>Business</p>
                <h3 class="article-image-h3">
                    How To Implement Chat GPT In Your Projects
                </h3>
                <p class="article-image-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe et
                    placeat vitae.
                </p>
            </div>
            <div class="article-image-box">
                <img src="~/images/guided_tour.png" alt="Image 3" />
                <p>Business</p>
                <h3 class="article-image-h3">
                    The Guide To Support Modern CSS Design
                </h3>
                <p class="article-image-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe et
                    placeat vitae.
                </p>
            </div>
        </div>
    </div>

    <div class="our-news-container container-fluid">
        <div class="article-image-section">
            <div class="article-image-box">
                <img src="~/images/using_business_intelligence.png" alt="Image 1" />
                <p>Business</p>
                <h3 class="article-image-h3">
                    How To Use Digitalization In The Classroom
                </h3>
                <p class="article-image-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe et
                    placeat vitae.
                </p>
            </div>
            <div class="article-image-box">
                <img src="~/images/apple_has_released.png" alt="Image 2" />
                <p>Business</p>
                <h3 class="article-image-h3">
                    How To Implement Chat GPT In Your Projects
                </h3>
                <p class="article-image-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe et
                    placeat vitae.
                </p>
            </div>
            <div class="article-image-box">
                <img src="~/images/how_to_improve_teams.png" alt="Image 3" />
                <p>Business</p>
                <h3 class="article-image-h3">
                    The Guide To Support Modern CSS Design
                </h3>
                <p class="article-image-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe et
                    placeat vitae.
                </p>
            </div>
        </div>
    </div>
