@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="partner-logos container">
    <img src="images/logos/dorfus_logo.png" alt="dorfus_logo" />
    <img src="images/logos/gobona_logo.png" alt="gobona_logo" />
    <img src="images/logos/paperz_logo.png" alt="paperz_logo" />
    <img src="images/logos/square_logo.png" alt="square_logo" />
  </section>