@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="project-headline-section">
    <p class="project-headline">Project & Case Studies</p>
    <h2 class="project-text">Let´s Look At Our Global Projects</h2>
  </div>

  <div class="image-grid-container container">
    <div class="image-row">
      <div class="image-box">
        <img src="images/grow_your_business.png" alt="Image 1" />
        <h3 class="image-headline">Grow your business</h3>
        <div class="border"></div>
        <a class="read-more" href="#">Read more</a>
      </div>
      <div class="image-box">
        <img src="images/why_your_client_needs.png" alt="Image 2" />
        <h3 class="image-headline">
          Educate your employees to get better results
        </h3>
        <div class="border"></div>
        <a class="read-more" href="#">Read more</a>
      </div>
    </div>
    <div class="image-row">
      <div class="image-box">
        <img src="images/educate_your_employees.png" alt="Image 3" />
        <h3 class="image-headline">
          Why you client needs a responsive website
        </h3>
        <div class="border"></div>
        <a class="read-more" href="#">Read more</a>
      </div>
      <div class="image-box">
        <img src="images/business_insights.png" alt="Image 4" />
        <h3 class="image-headline">
          Business insights is a important piece of your business
        </h3>
        <div class="border"></div>
        <div class="read-more-section">
          <a class="read-more" href="#">Read more</a>
        </div>
      </div>
    </div>
  </div>
