@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

 <div class="container-fluid" id="service-background">
      <div class="services-container container">
        <div class="services-section">
          <div class="text-section">
            <p class="services-headline">Our Services</p>
            <h2 class="services-h2">
              We Provide The Best Service For Consulting
            </h2>
          </div>
          <div class="box-section">
            <div class="service-box">
              <div class="card-line"></div>
              <h3 class="services-h3">Business Advice</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                velit amet dolorem.
              </p>
              <div class="text-end">
                <i class="bi bi-arrow-right-circle-fill"></i>
              </div>
            </div>
            <div class="service-box">
              <div class="card-line"></div>
              <h3 class="services-h3">Startup Business</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                velit amet dolorem.
              </p>
              <div class="text-end">
                <i class="bi bi-arrow-right-circle-fill"></i>
              </div>
            </div>
            <div class="service-box">
              <div class="card-line"></div>
              <h3 class="services-h3">Financial Advice</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                velit amet dolorem.
              </p>
              <div class="text-end">
                <i class="bi bi-arrow-right-circle-fill"></i>
              </div>
            </div>
            <div class="service-box">
              <div class="card-line text"></div>
              <h3 class="services-h3">Risk Management</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                velit amet dolorem.
              </p>
              <div class="text-end">
                <i class="bi bi-arrow-right-circle-fill"></i>
              </div>
            </div>
          </div>
          <div class="services button text-center">
            <button class="browse-services-button">Browse Services</button>
          </div>
        </div>
      </div>
    </div>

